<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ch04MovieListDahlstrom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ch04MovieListDahlstrom.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <!-- App Name -->
                <a class="navbar-brand" asp-area="" asp-controller="Movie" asp-action="Index">
                    Ch04MovieListDahlstrom
                </a>

                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movie" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movie" asp-action="DefaultPage">Default Page</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movie" asp-action="AttributePage">Attribute Page</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movie" asp-action="Admin">Admin</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Movie" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Favorites" asp-action="Index">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Index">Session</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Cookie">Cookie</a>
                        </li>

                        <!-- ASSIGNMENTS DROPDOWN -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               id="assignmentsDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Assignments
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="assignmentsDropdown">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Assignment61"
                                       asp-action="Index"
                                       asp-route-accessLevel="5">
                                        Assignment 6.1
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Assignment71"
                                       asp-action="Index"
                                       asp-route-accessLevel="5">
                                        Assignment 7.1
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Assignment71"
                                       asp-action="Index">
                                        Assignment 8.1
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Ticket" asp-action="Index">Assignment 9.1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Ticket" asp-action="Index">Assignment 10.1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Ticket" asp-action="Index">Assignment 11.1</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Ch04MovieListDahlstrom 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
